<h1>{{partyName}}</h1>



<ng-container *ngIf="{  players: players$ | async,
                        partyHost: partyHost$ | async,
                        currPlayerName: currPlayerName$ | async } as data;">
    <table>
        <thead>
            <tr>
                <th>{{'lobby.home.table.player' | translate}}</th>
                <th>{{'lobby.home.table.points' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of data.players" [ngClass]="{'currPlayer' : p.name === data.currPlayerName}">
                <td>
                    <app-avatar *ngIf="p.avatar" [imgName]="p.avatar" [size]="50"></app-avatar>
                    {{p.name}}
                    <span *ngIf="data.partyHost === p.name">(Host)</span>
                </td>
                <td>
                    {{p.points}}
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="data.partyHost === data.currPlayerName">
        <button (click)="onStartGame()">{{'lobby.home.newGame' | translate}}</button>
    </div>
</ng-container>
