<h1>{{partyName}}</h1>

<ng-container *ngIf="party && players">
    {{state | json }}
    {{state | json }}
    <table>
        <thead>
            <tr>
                <th>{{'lobby.home.table.player' | translate}}</th>
                <th>{{'lobby.home.table.points' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of players" [ngClass]="{'currPlayer' : p.name === currPlayerName}">
                <td>
                    {{p.name}}
                    <span *ngIf="party.host === p.name">(Host)</span>
                </td>
                <td>
                    {{p.points}}
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="party.host === currPlayerName">
        <button (click)="onStartGame()">{{'lobby.home.newGame' | translate}}</button>
    </div>
</ng-container>
