.selfie-box {
  position: relative;
}

.selfie-box #faceTemplate {
  position: absolute;
  z-index: 100;
}

.selfie-box video {
  position: absolute;
  object-fit: cover;
  object-position: center;
  border: 1px solid lightgray;
}

.selfie-box canvas {
  position: absolute;
  display: none;
}

.snapshot {
  width: 100%;
}
